@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Vampiro+One&display=swap');

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    color: #f3f0e7;
    background-color: #141312;
    display: flex;
    flex-direction: column;
    flex: none;
    align-items: center;
}

main {
    width: 100%;
    max-width: 1440px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    padding: 60px 40px;
}

h1, h2, h3 {
    font-family: 'Red Hat Display', sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
}

.tagline {
    font-family: 'Vampiro One', 'Red Hat Display', sans-serif;
    background: -webkit-linear-gradient(#FC466B, #432a91);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile {
    flex: 1 0 0;
}

.profile>div {
    position: sticky;
    top: 60px;
    background-color: #101010;
    height: 400px;
    padding:20px;
    border: 1px solid #ffffff20;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

div.temp-image {
    height: 320px;
    width: 320px;
    background-color: #ffffff09;
    border: 1px solid #ffffff20;
    border-radius: 10px;
}

.resume {
    flex-grow: 0;
}

.experience, .education, .skills{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    margin-bottom: 4rem;
}

.experience>div, .education>div, .skills>div {
    padding: 14px 28px;
    border: 1px solid #ffffff20;
    border-radius: 20px;
    background-color: #101010;
}